@import "tailwindcss";

.triangle {
    width: 280px;
    height: 280px;
    background: #3b82f6; 
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-radius: 48px;
    position: absolute;
    top: 16%;
    left: 16%;
    z-index: 10;
}
