@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:where(.dark, .dark *));

.triangle {
  width: 280px;
  height: 280px;
  background: #0096C7; 
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-radius: 48px;
  position: absolute;
  top: 16%;
  left: 16%;
  z-index: 10;
}

.vertical-timeline-element-date {
  display: none !important;
}

.custom-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d1d5db;
  transition: all 0.3s;
  cursor: pointer;
}
.custom-bullet-active {
  width: 24px;
  background: #2563eb;
  border-radius: 4px;
}